<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script language="javascript" type="text/javascript">
    function dynamicdropdown(listindex)
    {
        switch (listindex)
        {
        case "Kozhikode" :
            document.getElementById("branch").options[0]=new Option("Select branch","");
            document.getElementById("branch").options[1]=new Option("Balussery","Balussery");
            document.getElementById("branch").options[2]=new Option("Mavoor","Mavoor");
            document.getElementById("branch").options[3]=new Option("Vadakara","Vadakara");
            break;
        case "Wayanad" :
            document.getElementById("branch").options[0]=new Option("Select branch","");
            document.getElementById("branch").options[1]=new Option("Mananthavady","Mananthavady");
            document.getElementById("branch").options[2]=new Option("Sulthan Bathery","sulthan bathery");
            document.getElementById("branch").options[3]=new Option("Kalpetta","kalpetta");
            break;
        case "Malappuram" :
            document.getElementById("branch").options[0]=new Option("Select branch","");
            document.getElementById("branch").options[1]=new Option("Kondoty","Kondoty");
            document.getElementById("branch").options[2]=new Option("Manjeri","Manjeri");
            document.getElementById("branch").options[3]=new Option("Ponnani","Ponnani");
            break;
        case "Ernakulam" :
            document.getElementById("branch").options[0]=new Option("Select branch","");
            document.getElementById("branch").options[1]=new Option("Aluva","Aluva");
            document.getElementById("branch").options[2]=new Option("Edappally","Edappally");
            document.getElementById("branch").options[3]=new Option("Palarivattam","Palarivattam");
            break;
        case "Trivandrum" :
            document.getElementById("branch").options[0]=new Option("Select branch","");
            document.getElementById("branch").options[1]=new Option("Kazhakkoottam","Kazhakkoottam");
            document.getElementById("branch").options[2]=new Option("Kochuvely","Kochuvely");
            document.getElementById("branch").options[3]=new Option("Vattappara","Vattappara");
            break;
        }
        return true;
    }
    </script>
    </head>
    <title>Dynamic Drop Down List</title>
    <body>
    <div class="category_div" id="category_div">District:
        <select id="district" name="district" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
        <option value="">Select district</option>
        <option value="Kozhikode">Kozhikode</option>
        <option value="Wayanad">Wayanad</option>
        <option value="Malappuram">Malappuram</option>
        <option vlaue="Ernakulam">Ernakulam</option>
        <option vlaue="Trivandrum">Trivandrum</option>
        </select>
    </div>
    <div class="sub_category_div" id="sub_category_div">Branch:
        <script type="text/javascript" language="JavaScript">
        document.write('<select name="branch" id="branch"><option value="">Select branch</option></select>')
        </script>
<!--        <noscript>-->
<!--        <select id="branch" name="branch">-->
<!--            <option value="">Select branch</option>-->
<!--            <option value="Vadakara">vadakara</option>-->
<!--            <option value="Mavoor">mavoor</option>-->
<!--        </select>-->
<!--        </noscript>-->
    </div>
    </body>
</html>