{% extends 'base.html' %}

{% block content %}
<div class="formdiv">
<form method="post" action="{% url 'login' %}" id="login-form" class="login-form" autocomplete="off" role="main">
  {% csrf_token %}
  <h1 class="a11y-hidden">Login Form</h1><br>
  <div>
    {% for msg in messages %}
    <h6 style="color:red;"><b>{{msg}}</b></h6>
    {% endfor %}
    <label class="label-email">
      <input type="text" class="text" name="username" placeholder="Enter Username" tabindex="1" required />
      <span class="required">Username</span>
    </label>
  </div>
  <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
  <label class="label-show-password" for="show-password">
    <span>Show Password</span>
  </label>
  <div>
    <label class="label-password">
      <input type="text" class="text" name="password" placeholder="Enter Password" tabindex="2" required />
      <span class="required">Password</span>
    </label>
  </div>
  <input type="submit" value="Log In" />
  <div class="email">
    Not registered ? <a href="{% url 'register' %}">Register</a><br>
    <a href="#">Forgot password?</a>
  </div>
  <figure aria-hidden="true">
    <div class="person-body"></div>
    <div class="neck skin"></div>
    <div class="head skin">
      <div class="eyes"></div>
      <div class="mouth"></div>
    </div>
    <div class="hair"></div>
    <div class="ears"></div>
    <div class="shirt-1"></div>
    <div class="shirt-2"></div>
  </figure>

</form>
  </div>
{% endblock %}
<!--<div class="container">-->
<!--<h1>LOGIN</h1>-->
<!--<form action="{% url 'login' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="username" placeholder="enter username"><br>-->
<!--    <input type="password" name="password" placeholder="enter password"><br>-->
<!--    <input type="submit"><br>-->
<!--    Not registered ? <a href="{% url 'register' %}">Register</a>-->
<!--    {% for msg in messages %}-->
<!--    <h4 style="color:red;"><b>{{msg}}</b></h4>-->
<!--    {% endfor %}-->
<!--</form>-->
<!--    </div>-->
