{% extends 'base.html' %}
{% block content %}

<div class="formdiv">

<form method="post" action="{% url 'register' %}" id="login-form" class="login-form" autocomplete="off" role="main">
  {% csrf_token %}
    <h1 class="a11y-hidden">Login Form</h1>
    <div class="reg-form">
    <div>
      <h3>REGISTRATION</h3>
    <label class="label-email">
      <input type="text" class="text" name="username" placeholder="Enter Username" tabindex="1" required />
      <span class="required">Username</span>
    </label>
  </div>
  <div>
    <label class="label-password">
      <input type="password" class="text" name="password" placeholder="Enter Password" tabindex="2" required />
      <span class="required">Password</span>
    </label>
    <label class="label-password">
      <input type="password" class="text" name="cpassword" placeholder="Confirm Password" tabindex="2" required />
      <span class="required"> Confirm Password</span>
    </label>
  </div>
  <input type="submit" value="Submit"/><br>
        {% for msg in messages %}
    <h6 style="color:red;"><b>{{msg}}</b></h6>
    {% endfor %}
  </div>

</form>
  </div>


<!--<form action="{% url 'register' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="username" placeholder="Enter username"><br>-->
<!--    <input type="password" name="password" placeholder="Enter password"><br>-->
<!--    <input type="password" name="cpassword" placeholder="Confirm password"><br>-->
<!--    <input type="submit"><br>-->
<!--    {% for msg in messages %}-->
<!--    <h4 style="color:red;"><b>{{msg}}</b></h4>-->
<!--    {% endfor %}-->
<!--</form>-->
{% endblock %}